body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input, button, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: lightgrey;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}
